In [119]:
import pandas as pd
import numpy as np
from uszipcode import SearchEngine
from sklearn.linear_model import LinearRegression
import ast

In [120]:
search = SearchEngine(simple_or_comprehensive=SearchEngine.SimpleOrComprehensiveArgEnum.comprehensive)

# NY 
zipcodes = search.by_state("NY", returns=None)

zipcode_info_list = []
for zipcode in zipcodes:
    zipcode_info = zipcode.to_dict()
    zipcode_info_list.append(zipcode_info)

# Convert 
df = pd.DataFrame(zipcode_info_list)

In [121]:
# Select relevant features
features = [
    "zipcode",
    "population",
    "population_density",
    "median_household_income",
    "population_by_gender",
    "population_by_race",
    "families_vs_singles",
    "households_with_kids",
    "travel_time_to_work_in_minutes"
]

df_demographic = df[features]

In [122]:
nyc_zipcodes = [
    '10001', '10002', '10003', '10004', '10005', '10006', '10007', '10009', '10010', '10011', '10012',
    '10013', '10014', '10016', '10017', '10018', '10019', '10020', '10021', '10022', '10023', '10024',
    '10025', '10026', '10027', '10028', '10029', '10030', '10031', '10032', '10033', '10034', '10035',
    '10036', '10037', '10038', '10039', '10040', '10044', '10045', '10055', '10060', '10065', '10069',
    '10075', '10080', '10103', '10110', '10111', '10112', '10115', '10119', '10128', '10151', '10152',
    '10153', '10154', '10162', '10165', '10167', '10168', '10169', '10170', '10171', '10172', '10173',
    '10174', '10177', '10199', '10271', '10278', '10279', '10280', '10281', '10282', '10301', '10302',
    '10303', '10304', '10305', '10306', '10307', '10308', '10309', '10310', '10311', '10312', '10314',
    '10451', '10452', '10453', '10454', '10455', '10456', '10457', '10458', '10459', '10460', '10461',
    '10462', '10463', '10464', '10465', '10466', '10467', '10468', '10469', '10470', '10471', '10472',
    '10473', '10474', '10475', '11004', '11005', '11101', '11102', '11103', '11104', '11105', '11106',
    '11109', '11201', '11203', '11204', '11205', '11206', '11207', '11208', '11209', '11210', '11211',
    '11212', '11213', '11214', '11215', '11216', '11217', '11218', '11219', '11220', '11221', '11222',
    '11223', '11224', '11225', '11226', '11228', '11229', '11230', '11231', '11232', '11233', '11234',
    '11235', '11236', '11237', '11238', '11239', '11249', '11251', '11354', '11355', '11356', '11357',
    '11358', '11359', '11360', '11361', '11362', '11363', '11364', '11365', '11366', '11367', '11368',
    '11369', '11370', '11372', '11373', '11374', '11375', '11377', '11378', '11379', '11385', '11411',
    '11412', '11413', '11414', '11415', '11416', '11417', '11418', '11419', '11420', '11421', '11422',
    '11423', '11426', '11427', '11428', '11429', '11430', '11432', '11433', '11434', '11435', '11436',
    '11691', '11692', '11693', '11694', '11697'
]

In [123]:
df_demographic = df_demographic[df_demographic['zipcode'].isin(nyc_zipcodes)]
df_demographic

,zipcode,population,population_density,median_household_income,population_by_gender,population_by_race,families_vs_singles,households_with_kids,travel_time_to_work_in_minutes
0,10001,21102.0,33959.0,81671.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
1,10002,81410.0,92573.0,33218.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
2,10003,56024.0,97188.0,92540.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
3,10004,3089.0,5519.0,129313.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
4,10005,7135.0,97048.0,124670.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
...,...,...,...,...,...,...,...,...,...
417,11691,60035.0,21185.0,39409.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
418,11692,18540.0,18566.0,43354.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
419,11693,11916.0,11950.0,50570.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
420,11694,20408.0,14944.0,76944.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."
421,11697,4079.0,1838.0,87636.0,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':..."

In [124]:
# Function to safely extract values from nested structures
def extract_value(data, key):
    if isinstance(data, list):
        for item in data:
            if item['key'] == 'Data':
                for value in item['values']:
                    if value['x'] == key:
                        return value['y']
    return np.nan

In [125]:
# Extract gender information
df_demographic['male_percentage'] = df_demographic['population_by_gender'].apply(lambda x: extract_value(x, 'Male'))
df_demographic['female_percentage'] = df_demographic['population_by_gender'].apply(lambda x: extract_value(x, 'Female'))

In [126]:
# Extract race information
race_columns = ['White', 'Black Or African American', 'Asian', 'American Indian Or Alaskan Native', 'Native Hawaiian & Other Pacific Islander', 'Other Race']
for race in race_columns:
    df_demographic[f'race_{race.lower().replace(" ", "_")}'] = df_demographic['population_by_race'].apply(lambda x: extract_value(x, race))

In [127]:
# Extract family information
df_demographic['husband_wife_family'] = df_demographic['families_vs_singles'].apply(lambda x: extract_value(x, 'Husband Wife Family Households'))
df_demographic['single_guardian'] = df_demographic['families_vs_singles'].apply(lambda x: extract_value(x, 'Single Guardian'))
df_demographic['singles'] = df_demographic['families_vs_singles'].apply(lambda x: extract_value(x, 'Singles'))
df_demographic['singles_with_roommate'] = df_demographic['families_vs_singles'].apply(lambda x: extract_value(x, 'Singles With Roommate'))

In [128]:
# Extract households with kids information
df_demographic['households_without_kids'] = df_demographic['households_with_kids'].apply(lambda x: extract_value(x, 'Households Without Kids'))
df_demographic['households_with_kids'] = df_demographic['households_with_kids'].apply(lambda x: extract_value(x, 'Households With Kids'))

In [129]:
def extract_travel_time(data):
    if isinstance(data, list):
        total_time = 0
        total_people = 0
        for item in data:
            if item['key'] == 'Data':
                for value in item['values']:
                    if value['x'] != 'Total':
                        time_range = value['x'].replace('+', '-90').replace('<', '').split('-')
                        try:
                            time_range = list(map(int, time_range))
                        except ValueError:
                            continue  # Skip this iteration if conversion fails
                        avg_time = sum(time_range) / len(time_range)
                        total_time += avg_time * value['y']
                        total_people += value['y']
        return total_time / total_people if total_people > 0 else np.nan
    return np.nan

df_demographic['travel_time_to_work_in_minutes'] = df_demographic['travel_time_to_work_in_minutes'].apply(extract_travel_time)

In [130]:
# Drop unnecessary columns
df_demographic = df_demographic.drop(['population_by_gender', 'population_by_race', 'families_vs_singles', 'households_with_kids'], axis=1)

In [131]:
df_demographic.isnull().sum()

zipcode                                           0
population                                       34
population_density                               34
median_household_income                          34
travel_time_to_work_in_minutes                   31
male_percentage                                  26
female_percentage                                26
race_white                                       26
race_black_or_african_american                   26
race_asian                                       26
race_american_indian_or_alaskan_native           26
race_native_hawaiian_&_other_pacific_islander    26
race_other_race                                  26
husband_wife_family                              31
single_guardian                                  31
singles                                          31
singles_with_roommate                            31
households_without_kids                          31
dtype: int64

In [132]:
df_demographic = df_demographic.dropna()

In [133]:
def project_data(df, start_year=2018, end_year=2023):
    projected_data = []
    annual_growth_rate = 0.005  
    years_diff = end_year - start_year
    for _, row in df.iterrows():
        zipcode = row['zipcode']
        year_data = {'zipcode': zipcode, 'year': end_year}
        for column in df.columns:
            if column != 'zipcode':
                if pd.api.types.is_numeric_dtype(df[column]):
                    year_data[column] = row[column] * (1 + annual_growth_rate) ** years_diff
                else:
                    year_data[column] = row[column]
        projected_data.append(year_data)

    return pd.DataFrame(projected_data)

In [134]:
# Project data 
df_projected = project_data(df_demographic, end_year=2023)

In [135]:
# Group household categories
df_projected['FamilyHousehold'] = df_projected['husband_wife_family'] + df_projected['single_guardian']
df_projected['SingleHousehold'] = df_projected['singles'] + df_projected['singles_with_roommate'] + df_projected['households_without_kids']

In [136]:
column_mapping = {
    'zipcode': 'ZipCode',
    'year': 'Year',
    'population': 'Population',
    'population_density': 'PopulationDensity',
    'median_household_income': 'MedianHouseholdIncome',
    'travel_time_to_work': 'AverageTravelTimeToWork',
    'male_percentage': 'Male',
    'female_percentage': 'Female',
    'FamilyHouseholdPercentage': 'FamilyHousehold',
    'SingleHouseholdPercentage': 'SingleHousehold',
    'race_white': 'white',
    'race_black_or_african_american': 'black',
    'race_asian': 'asian',
    'race_american_indian_or_alaskan_native': 'american_indian',
    'race_native_hawaiian_&_other_pacific_islander': 'pacific_islander',
    'race_other_race': 'other'
}

df_projected = df_projected.rename(columns=column_mapping)

In [137]:
# Calculate Diversity Index
def calculate_diversity_index(row):
    race_columns = ['white', 'black', 'asian', 'american_indian', 'pacific_islander', 'other']
    total_population = sum(row[col] for col in race_columns)
    if total_population == 0:
        return 0
    proportions = [row[col] / total_population for col in race_columns if row[col] > 0]
    return 1 - sum(p * p for p in proportions)

df_projected['DiversityIndex'] = df_projected.apply(calculate_diversity_index, axis=1)

In [138]:
# Drop old household columns
columns_to_drop = ['husband_wife_family', 'single_guardian', 'singles', 'singles_with_roommate', 'households_without_kids']
df_projected = df_projected.drop(columns=columns_to_drop)

In [139]:
# Sort the dataframe
df_projected = df_projected.sort_values('ZipCode')

In [140]:
df_projected

,ZipCode,Year,Population,PopulationDensity,MedianHouseholdIncome,travel_time_to_work_in_minutes,Male,Female,white,black,asian,american_indian,pacific_islander,other,FamilyHousehold,SingleHousehold,DiversityIndex
0,10001,2023,21634.851944,34816.507305,83733.295094,29.276734,10441.158762,11193.693182,14068.497695,1944.901627,3628.364185,76.893844,5.126256,1089.842082,3256.197980,18155.149190,0.501245
1,10002,2023,83465.704517,94910.584256,34056.796126,35.559977,39543.940833,43921.763684,26150.058462,7008.617566,38871.376011,383.443969,32.808040,8198.934271,18547.820420,41199.721607,0.644615
2,10003,2023,57438.676205,99642.118789,94876.750964,29.120846,27425.471021,30013.205184,43874.602126,2026.921727,8292.232135,103.550377,24.606030,1287.715574,7251.602113,48906.535277,0.353415
3,10004,2023,3167.001121,5658.361666,132578.315296,27.330374,1650.654518,1516.346603,2221.719466,99.449372,671.539571,8.202010,1.025251,47.161558,598.746732,2613.365444,0.419255
4,10005,2023,7315.167691,99498.583614,127818.073727,28.725415,3529.940065,3785.227627,5127.281517,248.110803,1517.371855,10.252513,2.050503,164.040201,953.483665,7456.652364,0.426082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,11691,2023,61550.958982,21719.947798,40404.126635,49.758457,28871.075288,32679.883693,19074.799564,30863.138473,1227.225750,486.994345,63.565578,7402.314048,13440.018677,17998.285749,0.607169
174,11692,2023,19008.158233,19034.814766,44448.742828,54.468195,8678.751858,10329.406375,3125.991071,12614.691418,532.105400,119.954397,9.227261,1875.184542,4491.625740,5354.887295,0.482970
175,11693,2023,12216.893932,12251.752475,51846.955871,50.766264,5680.917194,6535.976739,6767.683522,3765.747853,381.393466,63.565578,1.025251,838.655525,3112.662804,4946.837296,0.564426
176,11694,2023,20923.327574,15321.354727,78886.932421,47.685169,10213.552984,10709.774590,17253.953339,1919.270346,525.953893,39.984799,10.252513,803.796982,4975.544331,9719.381880,0.284370
177,11697,2023,4181.999862,1884.411803,89848.918819,46.834898,1933.623863,2248.375998,4105.106018,5.126256,24.606030,5.126256,1.025251,15.378769,1149.306655,1988.987431,0.024463

In [141]:
# Save the projected data
df_projected.to_csv('cleaned_demographic_data.csv', index=False)

In [142]:
# Convert data types
df_projected['ZipCode'] = df_projected['ZipCode'].astype(int)
df_projected['Year'] = df_projected['Year'].astype(int)
df_projected['Population'] = df_projected['Population'].astype(int)
df_projected['PopulationDensity'] = df_projected['PopulationDensity'].astype(int)
df_projected['MedianHouseholdIncome'] = df_projected['MedianHouseholdIncome'].astype(int)
df_projected['Male'] = df_projected['Male'].astype(int)
df_projected['Female'] = df_projected['Female'].astype(int)
df_projected['FamilyHousehold'] = df_projected['FamilyHousehold'].astype(int)
df_projected['SingleHousehold'] = df_projected['SingleHousehold'].astype(int)
df_projected['white'] = df_projected['white'].astype(int)
df_projected['black'] = df_projected['black'].astype(int)
df_projected['asian'] = df_projected['asian'].astype(int)
df_projected['american_indian'] = df_projected['american_indian'].astype(int)
df_projected['pacific_islander'] = df_projected['pacific_islander'].astype(float)
df_projected['other'] = df_projected['other'].astype(int)
df_projected['DiversityIndex'] = df_projected['DiversityIndex'].astype(float)

In [143]:
df_projected

,ZipCode,Year,Population,PopulationDensity,MedianHouseholdIncome,travel_time_to_work_in_minutes,Male,Female,white,black,asian,american_indian,pacific_islander,other,FamilyHousehold,SingleHousehold,DiversityIndex
0,10001,2023,21634,34816,83733,29.276734,10441,11193,14068,1944,3628,76,5.126256,1089,3256,18155,0.501245
1,10002,2023,83465,94910,34056,35.559977,39543,43921,26150,7008,38871,383,32.808040,8198,18547,41199,0.644615
2,10003,2023,57438,99642,94876,29.120846,27425,30013,43874,2026,8292,103,24.606030,1287,7251,48906,0.353415
3,10004,2023,3167,5658,132578,27.330374,1650,1516,2221,99,671,8,1.025251,47,598,2613,0.419255
4,10005,2023,7315,99498,127818,28.725415,3529,3785,5127,248,1517,10,2.050503,164,953,7456,0.426082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,11691,2023,61550,21719,40404,49.758457,28871,32679,19074,30863,1227,486,63.565578,7402,13440,17998,0.607169
174,11692,2023,19008,19034,44448,54.468195,8678,10329,3125,12614,532,119,9.227261,1875,4491,5354,0.482970
175,11693,2023,12216,12251,51846,50.766264,5680,6535,6767,3765,381,63,1.025251,838,3112,4946,0.564426
176,11694,2023,20923,15321,78886,47.685169,10213,10709,17253,1919,525,39,10.252513,803,4975,9719,0.284370
177,11697,2023,4181,1884,89848,46.834898,1933,2248,4105,5,24,5,1.025251,15,1149,1988,0.024463

In [144]:
import json

# Convert DataFrame to dictionary
data_dict = df_projected.to_dict(orient='records')

# Save as JSON
with open('demographic_data.json', 'w') as f:
    json.dump(data_dict, f, indent=2)