In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('real_estate_prices_avg.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,213709.233931,...,491315.526103,493166.058739,494426.875064,495129.074438,495753.655023,497152.495599,499350.693362,502209.431348,504772.592373,506108.328812
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137223.944250,...,557714.505434,564034.189812,571369.251731,578165.889623,582930.938013,584513.712504,587069.676988,592163.786073,600460.331624,607796.724917
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,104647.143324,...,281166.106220,281706.625300,281696.287207,281458.482203,281163.821113,281522.469113,282230.217624,283337.911465,284307.117508,284846.166262
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,147948.413848,...,460295.980935,459739.008834,457713.854415,454362.198597,450079.153295,447252.566558,445649.759398,448707.730544,453215.094826,457834.614429
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,103546.082723,...,275813.536219,276248.093587,276238.298956,275811.529023,275383.171985,275429.757000,275961.374412,276973.605104,277976.199728,278483.936046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26341,100030,39992,98934,zip,WA,WA,Kittitas,"Ellensburg, WA",Kittitas County,NaN,...,320897.149985,321421.433105,320611.945990,319714.474268,318878.524827,318260.571649,317332.933815,317640.098363,319325.795838,321201.264011
26342,92085,39992,77661,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Chambers County,NaN,...,198097.455520,197805.880748,196195.733980,193324.356466,190204.800251,188693.297058,187437.379618,187097.514801,186797.420439,186241.935051
26343,64277,39992,15731,zip,PA,PA,Coral,"Indiana, PA",Indiana County,NaN,...,71459.117674,73035.138620,75061.008800,76801.522498,77875.102753,78328.685001,78541.948137,78903.305686,79439.309001,80145.963276
26344,98183,39992,95419,zip,CA,CA,Camp Meeker,"Santa Rosa-Petaluma, CA",Sonoma County,88602.250715,...,463251.984671,458561.436182,455750.854547,453029.281444,451901.717081,448985.523834,448322.698797,449280.890578,452547.151776,452040.619765
26345,67368,39992,22722,zip,VA,VA,Haywood,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Madison County,NaN,...,370728.530058,372238.687110,372813.709591,372973.362123,373087.660390,372768.356837,373327.508665,376384.674743,380752.573784,385743.941345

In [30]:
# Filter 
df_ny = df[df['StateName'] == 'NY'].copy()
df_ny

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,147948.413848,...,460295.980935,459739.008834,457713.854415,454362.198597,450079.153295,447252.566558,445649.759398,448707.730544,453215.094826,457834.614429
6,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,260025.016500,...,792245.946701,790274.222136,789009.516569,787787.018297,787650.013605,786305.427654,786364.639913,789372.263924,794137.400227,797132.864525
8,62019,9,11208,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,179741.485783,...,652637.874178,651937.819925,650807.969671,650281.507987,651886.202439,654315.301070,657543.920241,661994.480483,666260.829997,669321.307626
15,62046,16,11236,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,192186.574856,...,627149.304657,628519.322056,629341.766698,629671.260921,631335.324480,633377.284740,636207.236897,639293.399620,642048.446629,643293.483304
16,61807,17,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,134393.861487,...,354373.349988,355271.331503,352488.843458,347554.532379,340937.885522,336545.249023,333051.508054,332609.479710,330210.153467,328464.422738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26286,63115,39992,13435,zip,NY,NY,Prospect,"Utica-Rome, NY",Oneida County,NaN,...,153254.183989,156625.549746,159687.145799,161907.999065,162176.646481,161875.566767,162040.843987,163659.687917,165620.497188,167223.734163
26302,62674,39992,12574,zip,NY,NY,Rhinecliff,"Poughkeepsie-Newburgh-Middletown, NY",Dutchess County,NaN,...,571778.202961,566424.729841,562790.717399,561822.523076,560677.404107,559518.573619,560357.921445,563989.635517,569085.251830,575506.288461
26328,63100,39992,13410,zip,NY,NY,Nelliston,"Amsterdam, NY",Montgomery County,29298.936897,...,116699.303233,118470.278229,120304.260099,122465.877045,124463.935113,125646.714955,125760.526874,125816.270011,126275.795159,127601.305729
26332,63622,39992,14592,zip,NY,NY,York,"Rochester, NY",Livingston County,95552.801539,...,197989.165038,199229.473903,200150.115122,200948.739553,201283.867670,200948.935438,200152.790925,200069.346743,201397.656363,203465.791572
26339,62755,39992,12792,zip,NY,NY,Yulan,NaN,Sullivan County,81631.620302,...,303748.208239,307896.686461,310463.786374,311405.651546,310984.831983,310797.008158,311134.841722,312968.219670,315300.887291,317594.523122

In [31]:
nyc_zipcodes = [
    '10001', '10002', '10003', '10004', '10005', '10006', '10007', '10009', '10010', '10011', '10012',
    '10013', '10014', '10016', '10017', '10018', '10019', '10020', '10021', '10022', '10023', '10024',
    '10025', '10026', '10027', '10028', '10029', '10030', '10031', '10032', '10033', '10034', '10035',
    '10036', '10037', '10038', '10039', '10040', '10044', '10045', '10055', '10060', '10065', '10069',
    '10075', '10080', '10103', '10110', '10111', '10112', '10115', '10119', '10128', '10151', '10152',
    '10153', '10154', '10162', '10165', '10167', '10168', '10169', '10170', '10171', '10172', '10173',
    '10174', '10177', '10199', '10271', '10278', '10279', '10280', '10281', '10282', '10301', '10302',
    '10303', '10304', '10305', '10306', '10307', '10308', '10309', '10310', '10311', '10312', '10314',
    '10451', '10452', '10453', '10454', '10455', '10456', '10457', '10458', '10459', '10460', '10461',
    '10462', '10463', '10464', '10465', '10466', '10467', '10468', '10469', '10470', '10471', '10472',
    '10473', '10474', '10475', '11004', '11005', '11101', '11102', '11103', '11104', '11105', '11106',
    '11109', '11201', '11203', '11204', '11205', '11206', '11207', '11208', '11209', '11210', '11211',
    '11212', '11213', '11214', '11215', '11216', '11217', '11218', '11219', '11220', '11221', '11222',
    '11223', '11224', '11225', '11226', '11228', '11229', '11230', '11231', '11232', '11233', '11234',
    '11235', '11236', '11237', '11238', '11239', '11249', '11251', '11354', '11355', '11356', '11357',
    '11358', '11359', '11360', '11361', '11362', '11363', '11364', '11365', '11366', '11367', '11368',
    '11369', '11370', '11372', '11373', '11374', '11375', '11377', '11378', '11379', '11385', '11411',
    '11412', '11413', '11414', '11415', '11416', '11417', '11418', '11419', '11420', '11421', '11422',
    '11423', '11426', '11427', '11428', '11429', '11430', '11432', '11433', '11434', '11435', '11436',
    '11691', '11692', '11693', '11694', '11697'
]

In [32]:
# convert 
df_ny['RegionName'] = df_ny['RegionName'].astype(str)

In [33]:
# Filter 
df_nyc = df_ny[df_ny['RegionName'].isin(nyc_zipcodes)]
df_nyc

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,147948.413848,...,4.602960e+05,4.597390e+05,4.577139e+05,4.543622e+05,4.500792e+05,4.472526e+05,4.456498e+05,4.487077e+05,4.532151e+05,4.578346e+05
6,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,260025.016500,...,7.922459e+05,7.902742e+05,7.890095e+05,7.877870e+05,7.876500e+05,7.863054e+05,7.863646e+05,7.893723e+05,7.941374e+05,7.971329e+05
8,62019,9,11208,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,179741.485783,...,6.526379e+05,6.519378e+05,6.508080e+05,6.502815e+05,6.518862e+05,6.543153e+05,6.575439e+05,6.619945e+05,6.662608e+05,6.693213e+05
15,62046,16,11236,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,192186.574856,...,6.271493e+05,6.285193e+05,6.293418e+05,6.296713e+05,6.313353e+05,6.333773e+05,6.362072e+05,6.392934e+05,6.420484e+05,6.432935e+05
16,61807,17,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,134393.861487,...,3.543733e+05,3.552713e+05,3.524888e+05,3.475545e+05,3.409379e+05,3.365452e+05,3.330515e+05,3.326095e+05,3.302102e+05,3.284644e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10966,62075,11111,11363,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,453280.539461,...,1.008975e+06,1.005291e+06,1.001541e+06,9.995857e+05,1.002088e+06,1.006196e+06,1.012151e+06,1.021727e+06,1.032828e+06,1.040652e+06
12015,61773,12178,10282,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,2.054066e+06,2.055984e+06,2.047152e+06,2.042469e+06,2.041245e+06,2.059837e+06,2.084197e+06,2.119264e+06,2.142171e+06,2.153482e+06
13869,61804,14072,10464,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,379977.523157,...,6.309917e+05,6.324941e+05,6.343951e+05,6.359613e+05,6.380029e+05,6.408670e+05,6.440404e+05,6.488175e+05,6.522384e+05,6.558319e+05
14493,61620,14713,10006,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,435454.570302,...,1.083327e+06,1.072956e+06,1.063291e+06,1.056983e+06,1.054231e+06,1.054580e+06,1.055073e+06,1.056212e+06,1.056550e+06,1.057517e+06
26174,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,347381.242443,...,1.156697e+06,1.150014e+06,1.141504e+06,1.137352e+06,1.134858e+06,1.135786e+06,1.134001e+06,1.132379e+06,1.131716e+06,1.133366e+06

In [34]:
# Identify date columns 
non_date_columns = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName']
date_columns = [col for col in df_nyc.columns if col not in non_date_columns]

# Keep only latest
latest_date_column = max(date_columns)
columns_to_keep = non_date_columns + [latest_date_column]
df_nyc_latest = df_nyc[columns_to_keep]

In [35]:
df_nyc_latest

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2024-05-31
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,4.578346e+05
6,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,7.971329e+05
8,62019,9,11208,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,6.693213e+05
15,62046,16,11236,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,6.432935e+05
16,61807,17,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,3.284644e+05
...,...,...,...,...,...,...,...,...,...,...
10966,62075,11111,11363,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,1.040652e+06
12015,61773,12178,10282,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2.153482e+06
13869,61804,14072,10464,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,6.558319e+05
14493,61620,14713,10006,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,1.057517e+06
26174,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,1.133366e+06

In [36]:
# unique zip
unique_zipcodes = df_nyc_latest['RegionName'].nunique()
print(f"Number of unique NYC zip codes: {unique_zipcodes}")

Number of unique NYC zip codes: 172

In [37]:
missing_values = df_nyc_latest.isna().sum()
print(missing_values)

RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     0
State         0
City          0
Metro         0
CountyName    0
2024-05-31    0
dtype: int64

In [38]:
# Rename 
df_nyc_latest = df_nyc_latest.rename(columns={'RegionName': 'zipcode'})
df_nyc_latest[latest_date_column] = df_nyc_latest[latest_date_column].astype(float)

In [39]:
df_nyc_latest

,RegionID,SizeRank,zipcode,RegionType,StateName,State,City,Metro,CountyName,2024-05-31
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,4.578346e+05
6,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,7.971329e+05
8,62019,9,11208,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,6.693213e+05
15,62046,16,11236,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,6.432935e+05
16,61807,17,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,3.284644e+05
...,...,...,...,...,...,...,...,...,...,...
10966,62075,11111,11363,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,1.040652e+06
12015,61773,12178,10282,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2.153482e+06
13869,61804,14072,10464,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,6.558319e+05
14493,61620,14713,10006,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,1.057517e+06
26174,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,1.133366e+06

In [40]:
# Drop
df_nyc_latest = df_nyc_latest.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName'])

In [41]:
df_nyc_latest

      zipcode    2024-05-31
3       11368  4.578346e+05
6       11385  7.971329e+05
8       11208  6.693213e+05
15      11236  6.432935e+05
16      10467  3.284644e+05
...       ...           ...
10966   11363  1.040652e+06
12015   10282  2.153482e+06
13869   10464  6.558319e+05
14493   10006  1.057517e+06
26174   10004  1.133366e+06

[172 rows x 2 columns]

In [42]:
# Rename 
df_nyc_latest = df_nyc_latest.rename(columns={'RegionName': 'zipcode', latest_date_column: 'avg_home_value'})

In [43]:
# Convert
pd.options.display.float_format = '{:.2f}'.format
df_nyc_latest['avg_home_value'] = df_nyc_latest['avg_home_value'].astype(float)

In [44]:
df_nyc_latest

      zipcode  avg_home_value
3       11368       457834.61
6       11385       797132.86
8       11208       669321.31
15      11236       643293.48
16      10467       328464.42
...       ...             ...
10966   11363      1040651.82
12015   10282      2153481.50
13869   10464       655831.89
14493   10006      1057516.83
26174   10004      1133366.42

[172 rows x 2 columns]

In [45]:
median_income_df = pd.read_csv('median_income.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [46]:
# Convert
median_income_df['zipcode'] = median_income_df['zipcode'].astype(str)
df_nyc_latest['zipcode'] = df_nyc_latest['zipcode'].astype(str)

In [47]:
# Merge 
merged_df = pd.merge(df_nyc_latest, median_income_df, on='zipcode', how='left')

In [48]:
merged_df

    zipcode  avg_home_value  median_household_income
0     11368       457834.61                 62254.00
1     11385       797132.86                 77350.00
2     11208       669321.31                 49679.00
3     11236       643293.48                 73562.00
4     10467       328464.42                 42639.00
..      ...             ...                      ...
167   11363      1040651.82                 98111.00
168   10282      2153481.50                250001.00
169   10464       655831.89                118972.00
170   10006      1057516.83                200536.00
171   10004      1133366.42                216017.00

[172 rows x 3 columns]

In [49]:
median_age_df = pd.read_csv('median_age.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [50]:
# Convert
median_age_df['zipcode'] = median_age_df['zipcode'].astype(str)

In [51]:
merged_df = pd.merge(merged_df, median_age_df, on='zipcode', how='left')

In [52]:
merged_df

    zipcode  avg_home_value  median_household_income  median_age
0     11368       457834.61                 62254.00       34.30
1     11385       797132.86                 77350.00       36.20
2     11208       669321.31                 49679.00       33.20
3     11236       643293.48                 73562.00       39.10
4     10467       328464.42                 42639.00       34.40
..      ...             ...                      ...         ...
167   11363      1040651.82                 98111.00       49.60
168   10282      2153481.50                250001.00       38.80
169   10464       655831.89                118972.00       47.40
170   10006      1057516.83                200536.00       31.90
171   10004      1133366.42                216017.00       33.90

[172 rows x 4 columns]

In [53]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   zipcode                  172 non-null    object
 1   avg_home_value           172 non-null    float64
 2   median_household_income  171 non-null    float64
 3   median_age               171 non-null    float64
dtypes: float64(3), object(1)
memory usage: 5.5+ KB

In [54]:
# Fill 
merged_df['median_household_income'].fillna(merged_df['median_household_income'].median(), inplace=True)
merged_df['median_age'].fillna(merged_df['median_age'].median(), inplace=True)

C:\Users\simon\AppData\Local\Temp\ipykernel_19164\3242841957.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['median_household_income'].fillna(merged_df['median_household_income'].median(), inplace=True)
C:\Users\simon\AppData\Local\Temp\ipykernel_19164\3242841957.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['median_age'].fillna(merged_df['median_age'].median(), inplace=True)

In [55]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   zipcode                  172 non-null    object
 1   avg_home_value           172 non-null    float64
 2   median_household_income  172 non-null    float64
 3   median_age               172 non-null    float64
dtypes: float64(3), object(1)
memory usage: 5.5+ KB

In [56]:
# Save 
merged_df.to_csv('real_estate_price_data.csv', index=False)

In [58]:
# Save 
output_file_path = 'real_estate_price_data.json'
merged_df.to_json(output_file_path, orient='records', lines=False)

In [59]:
nyc_zipcodes = [
    '10001', '10002', '10003', '10004', '10005', '10006', '10007', '10009', '10010', '10011', '10012',
    '10013', '10014', '10016', '10017', '10018', '10019', '10020', '10021', '10022', '10023', '10024',
    '10025', '10026', '10027', '10028', '10029', '10030', '10031', '10032', '10033', '10034', '10035',
    '10036', '10037', '10038', '10039', '10040', '10044', '10045', '10055', '10060', '10065', '10069',
    '10075', '10080', '10103', '10110', '10111', '10112', '10115', '10119', '10128', '10151', '10152',
    '10153', '10154', '10162', '10165', '10167', '10168', '10169', '10170', '10171', '10172', '10173',
    '10174', '10177', '10199', '10271', '10278', '10279', '10280', '10281', '10282', '10301', '10302',
    '10303', '10304', '10305', '10306', '10307', '10308', '10309', '10310', '10311', '10312', '10314',
    '10451', '10452', '10453', '10454', '10455', '10456', '10457', '10458', '10459', '10460', '10461',
    '10462', '10463', '10464', '10465', '10466', '10467', '10468', '10469', '10470', '10471', '10472',
    '10473', '10474', '10475', '11004', '11005', '11101', '11102', '11103', '11104', '11105', '11106',
    '11109', '11201', '11203', '11204', '11205', '11206', '11207', '11208', '11209', '11210', '11211',
    '11212', '11213', '11214', '11215', '11216', '11217', '11218', '11219', '11220', '11221', '11222',
    '11223', '11224', '11225', '11226', '11228', '11229', '11230', '11231', '11232', '11233', '11234',
    '11235', '11236', '11237', '11238', '11239', '11249', '11251', '11354', '11355', '11356', '11357',
    '11358', '11359', '11360', '11361', '11362', '11363', '11364', '11365', '11366', '11367', '11368',
    '11369', '11370', '11372', '11373', '11374', '11375', '11377', '11378', '11379', '11385', '11411',
    '11412', '11413', '11414', '11415', '11416', '11417', '11418', '11419', '11420', '11421', '11422',
    '11423', '11426', '11427', '11428', '11429', '11430', '11432', '11433', '11434', '11435', '11436',
    '11691', '11692', '11693', '11694', '11697'
]

In [61]:
# Count 
num_nyc_zipcodes = len(nyc_zipcodes)
print(f"Number of zip codes in the NYC zip codes list: {num_nyc_zipcodes}")

Number of zip codes in the NYC zip codes list: 214

In [63]:
# Extract 
dataset_zipcodes = merged_df['zipcode'].unique()

# Convert 
dataset_zipcodes_set = set(dataset_zipcodes)

# Convert 
nyc_zipcodes_set = set(nyc_zipcodes)

# Zip codes in the NYC list that are not in the dataset
missing_zipcodes = nyc_zipcodes_set - dataset_zipcodes_set

# Count 
num_nyc_zipcodes = len(nyc_zipcodes)
print(f"Number of zip codes in the NYC zip codes list: {num_nyc_zipcodes}")

print(f"Zip codes in the NYC list that are not in the dataset: {missing_zipcodes}")
print(f"Number of zip codes in the NYC list that are not in the dataset: {len(missing_zipcodes)}")

Number of zip codes in the NYC zip codes list: 214
Zip codes in the NYC list that are not in the dataset: {'10103', '11359', '10151', '10311', '10474', '10475', '10111', '10110', '10038', '10199', '10115', '11697', '10279', '10112', '10154', '11109', '10167', '11430', '10060', '10045', '10080', '10119', '10168', '10055', '10165', '10020', '11693', '11251', '10172', '10153', '10271', '10170', '10173', '10174', '11005', '10177', '10278', '10171', '10162', '10281', '10152', '10169'}
Number of zip codes in the NYC list that are not in the dataset: 42

In [71]:
# Load 
df = pd.read_csv('real_estate_price_data.csv')

# Manually add
new_data = {
    'zipcode': ['11693', '11005', '10474', '11697', '10475', '11359', '11109', '10038'],
    'avg_home_value': [403836.00, 655877.67, 304911.00, 612345, 79612.52, 770000.82, 662500.00, 800285.00],  
    'median_household_income': [64688, 60800, 33157, 113047, 56327, 100016, 160898, 99924], 
    'median_age': [40, 86, 30.6, 50, 46.7, 40.2, 34.5, 35.1]  
}

In [72]:
# DF
new_df = pd.DataFrame(new_data)

# Concatenate
df_updated = pd.concat([df, new_df], ignore_index=True)

In [73]:
# Save 
df_updated.to_csv('real_estate_price_data.csv', index=False)

In [74]:
# Save 
output_file_path = 'real_estate_price_data.json'
df_updated.to_json(output_file_path, orient='records', lines=False)